
<footer>
  <div class="btn-row" id="options"><a href="mailto:contact@mahalabs.xyz">
      <button class="btn btn-color raindrop" role="button">Contact</button></a><a href="mailto:contact@mahalabs.xyz">
      <button class="btn btn-color raindrop" role="button">Collaborate</button></a><a href="https://www.linkedin.com/company/mahadao/">
      <button class="btn btn-color raindrop" role="button">Linkedin</button></a><a href="https://github.com/MahaDAO">
      <button class="btn btn-color raindrop" role="button">Github</button></a></div>
  <div class="copyright">MahaLabs Pte. Ltd - Singapore 2023</div>
</footer>