footer
  //- Buttons
  #options.btn-row
    a(href='mailto:contact@mahalabs.xyz')
      button.btn.btn-color.raindrop(role='button')
        | Work with us
    a(href='mailto:contact@mahalabs.xyz')
      button.btn.btn-color.raindrop(role='button')
        | Collaborate with us
    a(href='https://www.linkedin.com/company/mahadao/')
      button.btn.btn-color.raindrop(role='button')
        | Linkedin
    a(href='https://github.com/MahaDAO')
      button.btn.btn-color.raindrop(role='button')
        | Github
  .copyright MahaLabs Pte. Ltd - Singapore 2023
