extends ./template/layout.pug

block content
  .p-t-b-15
    // Headline & Description
    h1 MahaLabs

    p
      | We are a technology company and a core contributor to the&nbsp;
      a.link(href='https://mahadao.com/') MahaDAO
      | &nbsp;ecosystem. We love building disruptive products and growing
      | communities that can leave a deep impact on global economies.
    br

    i
      p &quot;We build fast and we build big&quot;
    br
    p
      | Besides technology, we have a network span across crypto
      | exchanges, influencers, marketers, economists and community
      | builders.

    br
    p We are holders of $MAHA and largely vested in the ecosystem's growth.

    hr
    h3 Our Products

    ol
      li
        a.link(href='https://arth.loans/') ARTH Valuecoin
        | - A decentralized stablecoin that is designed to protect your purchasing power.
      li
        a.link(href='https://gov.mahadao.com/') Governance &amp; Staking Portal
        | - A portal that keeps the entire MAHA governance decentralized.
      li
        a.link(href='https://starter.mahadao.com/') MahaStarter
        | - A launchpad focused on projects that contribute to the MAHA ecosystem.
      li
        a.link(href='https://mahalend.com/') MahaLend
        | - A decentralized lending protocol for ARTH.
      li
        a.link(href='/products/pfp_generator.html') NFT PFP Generator
        | - Image manipulation software to generate a large set of images that can be used for an NFT collection.
      li
        a.link(href='/products/brand_loyalty.html') Discord Brand Loyalty Platform
        | - A discord focused brand loyalty tool used to help create very strong communities.
      li
        a.link(href='/products/stablecoin_portal.html') Stablecoin Portal
        | - Image manipulation software to generate a large set of images that can be used for an NFT collection.
      li
        a.link(href='/products/staking.html') Staking Portal
        | - Image manipulation software to generate a large set of images that can be used for an NFT collection.
      li.upcoming
        b  ARTH Wallet
        |  - (Upcoming) A decentralized mobile wallet
      li.upcoming
        b NFT Marketmaking
        |  - (Upcoming) A decentralized mobile wallet
      li.upcoming
        b CEX/DEX/Stablecoin MarketMaking
        |  - (Upcoming) Marketmaking bots that perform arbitrage and various
        | strategies on stablecoins and tokens on decentralized and
        | centralized exchanges.
      li.upcoming
        b  Cosmos Sidechain
        | - (Upcoming) A payment-focused blockchain infrastructure.
