extends ../template/layout.pug

block content
  .p-t-b-15
    h1 Discord Loyalty Platform
    p
      | Our Discord Loyalty Platform is a points marketplace for brands and artists. Users can earn rewards for engaging with the brand,
      | either from a social level (such as following/engaging with a brand) or from blockchain level (such as holding/buying a NFT).
      | This incentivizes participants to be a part of the brand/artist's success.

    p
      | When building this tool we found a few challenges in the current space that we looked to solve.

    ul
      li High churn rate, meaning users are not staying engaged with the platform long-term.
      li Limited DeFi awareness among potential users, which can make it difficult to attract and retain a dedicated user base.
      li Lack of a all-in-one platform to track community members and their engagement activities in one place, which can hinder efforts to incentivize and reward community participation.

    p With these problems in mind, we wanted to create a product that could meet the following goals.

    ol
      li Increase the engagement rate of the community members by incentivizing participation and rewarding community members for their engagement.
      li Build and retain the community by providing features that constantly provide value such as educational resources, community engagement activities, and exclusive merchandising.
      li Help community members engage with each other through various activities such as Discord, Twitter and other social media platforms.
      li Create a purpose-driven and gamified approach that will grow the community, encouraging community members to learn, engage and earn rewards.
      li Allow other communities to whitelabel this product and use it for their own communities.

    hr
    div
      h3 Features

      p From the initial launch with the People Of Eden community, we have evolved this product to have mulitple features that help

      ol
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.

    //- hr
    //- h3 Case Studies

    hr
    h3 Contact Us

    p
      | If you are interested in working with us to use the brand loyalty tool for your own brand or somehow
      | contribute.
