extends ../template/layout.pug

block content
  .p-t-b-15
    h1 PFP Generator
    p
      | MahaLabs&apos;s brand loyalty platform is an innovative new way for
      | brands to engage and activate their communities on discord.
    hr
    div
      h3 How it works
      p Lorem impsum sorem diem.
    hr
    div
      h3 Features
      ol
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.
        li
          b Feature 1
          |  - A decentralized stablecoin that is designed
          | to protect your purchasing power.
    hr
    h3 Case Studies
